@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 6px;
}

@import "tailwindcss";

/* Enable dark mode in Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* Global background */
html {
  background-color: #f9fafb;
}

html.dark {
  background-color: #0f172a;
}

.page-bg {
  @apply bg-gray-100 dark:bg-gray-950;
}

.card-bg {
  @apply bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800;
}

.text-main {
  @apply text-gray-900 dark:text-gray-100;
}
